<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <!--MongoDB连接字符串-->
    <add name="MongoConnection" connectionString="mongodb://127.0.0.1:27017::SFGame" />
  </connectionStrings>
  
  <!--应用程序配置 必备配置 使用mongodb value = 程序集名称-->
  <appSettings>
    <add key="EntityAssembly" value="Account"/>
  </appSettings>
</configuration>
