<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--依赖注入提供者配置节点--><!--依赖注入注册配置节点--><!--Redis服务器配置节点--><section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" /><section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" /><section name="redisConfiguration" type="SD.Toolkits.RedisConfiguration,SD.Toolkits.Redis" /></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<!--依赖注入提供者配置，默认采用Autofac--><injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" /><connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings><injectionRegisterConfiguration>
    <asInterfaceTypes>
      <type name="SD.Infrastructure.Repository.EntityFramework.DbCleaner" assembly="SD.Infrastructure.Repository.EntityFramework" />
    </asInterfaceTypes>
  </injectionRegisterConfiguration><!--Redis服务器配置--><redisConfiguration>
    <!--读写服务器地址列表-->
    <readWriteServers>
      <server name="" host="localhost" port="6379" password="" />
    </readWriteServers>
    <!--只读服务器地址列表-->
    <readOnlyServers>
      <server name="" host="localhost" port="6379" password="" />
    </readOnlyServers>
  </redisConfiguration></configuration>